@define-color primary-color #FBFFFF;
@define-color primary-bg #060E0C;

@define-color secondary-color #BBC4C6;

@define-color border-color #91972A;

* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font Propo, Arial, sans-serif;
    min-height: 0px;
}

window#waybar {
    background: transparent;
    font-size: 1em;
    color: @primary-color;
    font-weight: bold;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: @primary-color;
}

#workspaces {
  min-width: 180px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @secondary-color;
    margin: 0 5px;
    padding-left: 0;
    transition: font-size 100ms linear;
}

#workspaces button.focused,#workspaces button.active {
  font-size: 1.5em;
  color: @primary-color;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
  font-size: 1.5em;
}

#battery {
  background-color: transparent;
  color: @primary-color;

  font-size: 20;
}

#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #FFA500;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
}

.modules-left, .modules-right, .modules-center {
  background-color: @primary-bg;
  padding: 0 1.5em;

  border: 4px solid;
  border-color: @border-color;
  border-top: none;
}

.modules-left {
  border-radius: 0 0 20 0;

  border-left: none
}

.modules-center {
  border-radius: 0 0 20 20;

  border-top: none;
}

.modules-right {
  padding-right: 0;
  border-radius: 0 0 0 20;

  border-right: none;
}

#custom-power {
  font-size: 1.5em;

  padding: 0 1em;

  background-color: #FBFFFF;
  color: #0A181E;

  border-radius: 0 0 0 20;

  transition: all 350ms;
}

#custom-power:hover {
  background-color: red;
  color: @primary-color;
}

menu {
  background: #060E0C;
  color: #FBFFFF;
  
  border-radius: 20;
  border-top-width: 2px;
  
  border-top-color: red;
}

menu menuitem {
  /*padding-top: 10px; padding-bottom: 10px;*/
  transition: all 200ms;
}

menu menuitem:hover {
  background: #969B8E;
  color: #060E0C;

  border-radius: 50;

  font-size: 1.25em;
  font-weight: bold;
}

