.view, .navigation-sidebar, .top-bar {
  background-color: #08080C;
  color: #CDD6F4;
}

.view {
  background-color: white;
  color: #08080C;
}

.navigation-sidebar row {
  transition: all 300ms;
}

.navigation-sidebar row:hover {
  background-color: #4B2D39;
  color: white;
}

.navigation-sidebar row:selected {
  background-color: #F38BA8;
  color: #6F0C28;
  font-weight: bolder;
}
