@define-color primary-color #FBFFFF;
@define-color primary-bg #060E0C;

@define-color lighter-bg #3A4141;
@define-color darker-color #BBC4C6;

@define-color highlight #91972A;

* {
  font-family: FiraCode Nerd Font Propo, Comic Sans;
}

.view, .navigation-sidebar, .top-bar {
  background-color: @primary-bg;
  color: @primary-color;
}

.view {
  background-color: @primary-color;
  color: @primary-bg;
}

.navigation-sidebar row {
  transition: all 300ms;
}

.navigation-sidebar row:hover {
  background-color: @lighter-bg;
  color: @darker-color;
}

.navigation-sidebar row:selected {
  background-color: @highlight;
  color: @primary-bg;
  font-weight: bolder;
}
